<template>
  <div class="row">
    <div v-for="(item,index) in items" :key="index" class="col s12 m4">
      <div class="card">
        <router-link tag="div" :to="{path:'item/'+item.id}">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" :src="item.photo">
          </div>
        </router-link>

        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{item.title}}</span>
        </div>
        <div class="card-action">
          Price : {{item.price}}
                  <a @click="addToCart(item)" class="secondary-content btn-floating red">
          <i class="material-icons right">add_shopping_cart</i>
        </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  //props:['items'],
  computed: {
    items() {
      return this.$store.getters.getInventory;
    }
  },
  data() {
    return {
      //items: []
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/items")
      .then(response => {
        this.$store.commit("setInventory", response.data);
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    addToCart(item) {
      this.$store.dispatch("addToCartAction", item);
    }
  }
};
</script>

<style scoped>
</style>
