<template>
  <div class="row">
    <div
      v-for="(item,index) in items"
      :key="index"
      class="col s12 m4"
      v-bind:class="{'is-collapsed' : collapsed}"
    >
      <div class="card">
        <router-link tag="div" :to="{path:'item/'+item.id}">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" :src="item.photo">
          </div>
        </router-link>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">
            {{item.title}}
            <a @click="addToCart(item)" class="btn-floating waves-effect red">
              <i class="material-icons right">add_shopping_cart</i>
            </a>
          </span>
          <p>{{item.price}}</p>
        </div>
      </div>
    </div>
    <button v-on:click=" collapsed = !collapsed">Show more</button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  //props:['items'],
  computed: {
    items() {
      return this.$store.getters.getInventory;
    }
  },
  data() {
    return {
      //items: []
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/items")
      .then(response => {
        this.$store.commit("setInventory", response.data);
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    addToCart(item) {
      this.$store.dispatch("addToCartAction", item);
    }
  }
};
</script>

<style scoped>
.is-collapsed {
  div:nth-child(n + 5) {
    display: none;
  }
}
</style>
