<template>
  <div class="row">
    <div v-for="(item,index) in items" :key="index"  class="col s12 m4">
      <div class="card">
        <router-link tag="div" :to="{path:'item/'+item.id}">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" :src="item.photo">
        </div>
        </router-link>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{item.title}}
            <a @click="addToCart(item)" class="btn-waves-light red"> <i class="material-icons right">add_shopping_cart</i></a>
            </span>
          <p>{{item.price}}</p>
        </div>
      </div> 
    </div>
  </div>

    <!-- <div class="col-sm-3 col-md-3 col-lg-3"> -->
      <!-- <div v-for="(item,index) in items" :key="index" class="card">
        <router-link tag="div" :to="{path:'item/'+item.id}">
          <img :src="item.photo" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
          </div>
        </router-link>
        <div class="card-footer">
          <p class="card-text">{{item.price}}</p>
          <a @click="addToCart(item)" class="btn btn-primary">Add <i class="material-icons">add_shopping_cart</i> </a>
        </div>
      </div>
    </div> -->

</template>

<script>
import axios from "axios";

export default {
  //props:['items'],
  computed: {
    items() {
      return this.$store.getters.getInventory;
    }
  },
  data() {
    return {
      //items: []
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/items")
      .then(response => {
        this.$store.commit("setInventory", response.data);
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    addToCart(item) {
      this.$store.dispatch("addToCartAction", item);
      //this.$emit("newItemAdded", item);
    }
    // fetchInventory() {
    //   var self = this;
    //   axios.get("http://localhost:3000/items").then(response => {
    //     console.log(response)
    //   });
    //}
  }
};
</script>

<style scoped>
.container{
            width: 99%;
            max-width:initial;
            
        }
</style>
