<template>
  <div class="row">
    <div v-for="(item,index) in items" :key="index" class="col s12 m4">
      <div class="card">
        <router-link tag="div" :to="{path:'item/'+item.id}">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" :src="item.photo">
          </div>
        </router-link>

        <div class="card-content">
          <span class="card-title grey-text text-darken-4">
            <h5>{{item.title}}</h5>
          
          <div style="text-align:right; width:100%; padding:0;">
          <a @click="addToCart(item)" class="btn-floating red">
            <i class="material-icons right">add_shopping_cart</i>
          </a>
          </div>
        
          Price : {{item.price}} </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  //props:['items'],
  computed: {
    // items() {
    //   return this.$store.getters.getInventory;
    // }
  },
  data() {
    return {
      //items: []
    };
  },
  created() {
      axios
      .get("https://ekart-4c0aa.firebaseio.com/0/data.json")
      .then(response => {
            
            this.items=response.data;
            console.log(this.items);
        this.$store.commit("setInventory", response.data);
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    addToCart(item) {
      this.$store.dispatch("addToCartAction", item);
    }
  }
};
</script>

<style scoped>

</style>
