<template>
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img :src="item.photo" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{item.id}}. {{item.title}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p class="card-text"><b> {{item.price}} </b> </p>
        <a @click="addToCart(item)" class="btn btn-primary">+ add</a>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from "axios";
export default {
data() {
    return {
      item: null
    };
  },
  mounted(){
      axios
    .get('http://localhost:3000/item/'+this.$route.params.id)
    .then(response => {
      this.item = response.data
    })
    .catch(error => {
      console.log(error)
    })
  },
  methods:{
      addToCart(item) {
      this.$store.dispatch("addToCartAction",item)}
    //   fetchItem(){
    //       var self=this
    //       axios
    //       .get('http://localhost:3000/item/'+this.$route.params.id).then(response =>
    //       {
    //           self.item=response.data
    //       })
    //   }
  }
}

</script>

<style>

</style>
