<template>
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img :src="item.photo">
          <span class="card-title">{{item.id}}. {{item.title}} {{item.price}}</span>
          <a @click="addToCart(item)" class="btn-floating halfway-fab waves-effect waves-light red">
            <i class="material-icons">add</i>
          </a>
        </div>
        <div class="card-content">
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      item: null
    };
  },
  mounted() {
    axios
      .get("http://localhost:3000/item/" + this.$route.params.id)
      .then(response => {
        this.item = response.data;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    addToCart(item) {
      this.$store.dispatch("addToCartAction", item);
    }
  }
};
</script>

<style>
</style>
