<template>
  <div id="app">
    <Navbar @search="search"></Navbar>

    <div class="container">
      <div v-if="!isLoggedIn" class="row">
        <div class="col s9">
          <router-view></router-view>
        </div>
      </div>

      <div v-else class="row">
        <div class="col s9">
          <router-view></router-view>
        </div>

        <div class="col s3">
          <Cart @itemRemoved="oneItemRemoved" :items="cart"></Cart>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Navbar from "./components/Navbar";
import Cart from "./components/Cart";
import axios from "axios";

//import data from "./assets/data.json";
//import firebase from 'firebase'
export default {
  components: {
    Navbar,
    Cart
  },

  data() {
    return {
      items: [],
      cart: [],
 
    };
  },
  computed:{
    isLoggedIn() {
      return this.$store.state.isLoggedIn;
    }

  },
  mounted() {
        axios
      .get("https://ekart-4c0aa.firebaseio.com/0/data.json")
      .then(response => {
            
            this.items=response.data;
            console.log(this.items);
        this.$store.commit("setInventory", response.data);
      })
      .catch(error => {
        console.log(error);
      });
    // //axios.get("http://localhost:3000/items").then(response => {
    // axios.get("https://ekart-4c0aa.firebaseio.com/0/data.json").then(response => {
      
    //   console.log(response.data);
    //   this.items = response.data;
    // });
    //this.items = data;
  },
  methods: {
    // search(keyword) {
    //   this.items = this.items.filter(item => {
    //     //return item.title.match(keyword)
    //     return item.title.toLowerCase().indexOf(keyword.toLowerCase()) !== -1;
    //   });
    // },
    addCartItem(item) {
      this.cart.push(item);
    },
    oneItemRemoved(index) {
      this.cart.splice(index, 1);
    }
  }
};
</script>

<style>
.container {
  width: 100%;
  max-width: initial;
}
</style>
