<template>
  <div id="dashboard">
    <ul class="collection-with-header">
      <li
        v-for="user in users"
        v-bind:key="user.id"
        class="collection-item"
      >{{user.uid}} {{user.name}} {{user.mobile}}</li>
    </ul>
  </div>
</template>

<script>
import db from "./firebaseInit";

export default {
  data() {
    return {
      users: []
    };
  },
  created() {
    db.collection("users")
      .get()
      .then(querysnapshot => {
        querysnapshot.forEach(doc => {
          const data = {
            id: doc.id,
            uid: doc.data().userid,
            name: doc.data().name,
            mobile: doc.data().mobile
          };
          this.users.push(data);
        });
      });
  }
};
</script>

<style>
</style>
