<template>
  <ul class="collection">
    <li class="collection-item avatar">
      <span class="item-name">Name</span>
      <span class="item-price float-right">Price</span>
    </li>
    <hr>
    <li v-for="(item,index) in items" :key="index" class="collection-item avatar">
      <img :src="item.photo" alt="" class="circle">
      <span class="title">{{item.title}}</span> 
      <p>{{item.price}}</p>
      <a @click="removeItem(index)" class="btn waves-effect waves-light"><i class="material-icons">remove_shopping_cart</i></a>
    </li>
    <hr>
    <li class="list-group-item">
      <span class="item-name">Total</span>
      <span class="item-price float-right">${{totalPrice}}</span>
    </li>
    <li v-if="items.length>0" class="list-group-item">
      <button @click="checkout" class="btn btn-block btn-success">Checkout</button>
    </li>
  </ul>
</template>

<script>
export default {
  //props: ["items"],
  computed: {
    items() {
      return this.$store.getters.getCart;
    },
    totalPrice() {
      var total = 0;
      this.items.forEach(item => {
        total += parseFloat(item.price.substring(1));
      });
      return total.toFixed(2);
    }
  },
  methods: {
    removeItem(index) {
      //this.$emit("itemRemoved", index);
      this.$store.commit("removeItem", index);
    },
    checkout(){
      if(confirm('Are you want to checkout?')){
        this.$store.commit('clearCart')
      }
    }
  }
};
</script>

<style scoped>
</style>