<template>
  <ul class="collection">
    
    <li class="collection-header">
      <h3 class="center-align">Cart</h3>
    </li>
   
    <hr v-if="items.length>0">

    <li v-for="(item,index) in items" :key="index" class="collection-item avatar">
      <img :src="item.photo" alt class="circle">
      <span class="title">{{item.title}}</span>
      <p>{{item.price}}</p>
      <a @click="removeItem(index)" class="secondary-content btn-small waves-effect waves-light">
        <i class="material-icons">remove_shopping_cart</i>
      </a>
    </li>
  <hr v-if="items.length<1">
    <li class="collection-item avatar">
      <h5 class="black-text"> Total &emsp; ${{totalPrice}}</h5>
 
    </li>
    <li v-if="items.length>0" class="collection-item avatar">
      <button @click="checkout" class="btn-floating btn-large">Checkout</button>
    </li>
  </ul>
</template>

<script>
export default {
  //props: ["items"],
  computed: {
    items() {
      return this.$store.getters.getCart;
    },
    totalPrice() {
      var total = 0;
      this.items.forEach(item => {
        total += parseFloat(item.price.substring(1));
      });
      return total.toFixed(2);
    }
  },
  methods: {
    removeItem(index) {
      //this.$emit("itemRemoved", index);
      this.$store.commit("removeItem", index);
    },
    checkout() {
      if (confirm("Are you want to checkout?")) {
        this.$store.commit("clearCart");
      }
    }
  }
};
</script>

<style scoped>
</style>