<template>
    <div id="dashboard">
        <h3>dashboard</h3>
    </div>
</template>

<script>
import db from './firebaseInit'

export default {
    data(){
        return{
            users:[]
        }
    },
    created(){
        db.collection('users').get().then(
            querysnapshot.forEach(doc => {
                console.log(doc);
                const data={ }
                
            })
    )
    }

}
</script>

<style>

</style>
