<template>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="login card-panel green white-text center">
          <h3>Login</h3>
          <form @submit.prevent="userLogin">
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input type="email" id="email" v-model="email">
              <label class="white-text" for="email">Email Address</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="password" v-model="password">
              <label class="white-text" for="password">Password</label>
            </div>
            <button type="submit" class="btn-large">Login</button>
            <!-- <button @click="userLogin" class="btn-large">Login</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    userLogin() {
      await this.$store
        .dispatch("Login", {
          email: this.email,
          password: this.password
        });
          this.$router.go({ path: this.$router.path });
          //this.$router.push("/login");
          //this.$router.go({path:this.$router.path});
          // e.preventDefault();
        }
    }
  }
};
</script>

<style>
</style>
