<template>
  <nav>
    <div class="nav-wrapper">
      <router-link class="brand-logo left" :to="{path:'/'}">ekart</router-link>
      <form>
        <div class="input-field right">
          <input @input="search" id="search" type="search" required v-model="keyword">
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      keyword: ""
    };
  },
  methods: {
    search() {
      //this.$emit('search',this.keyword)
      axios
        .get("http://localhost:3000/search/" + this.keyword)
        .then(response => {
          this.$store.commit("setInventory", response.data);
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
