<template>
  <nav>
    <div class="nav-wrapper">
      <router-link class="brand-logo left" :to="{path:'/'}">ekart</router-link>
      <ul class="right">
        <li><router-link :to="{path:'/dashbar'}">Dashboard</router-link></li>
        <li><router-link :to="{path:'/login'}">Login</router-link></li>
        <li><router-link :to="{path:'/register'}">Register</router-link></li>
        <li><button @click="userLogout" class="btn blue">Register</button></li>
      </ul>
      <form>
        <div class="input-field right">
          <input @input="search" id="search" type="search" required v-model="keyword">
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</template>

<script>
import axios from "axios";
import firebase from "firebase";
import firebaseConfig from './firebaseConfig';
export default {
  data() {
    return {
      keyword: "",
      isLoggedIn:false,
      currentUser:false
    };
  },
  methods: {
    search() {
      //this.$emit('search',this.keyword)
      axios
        .get("http://localhost:3000/search/" + this.keyword)
        .then(response => {
          this.$store.commit("setInventory", response.data);
        });
    },
    userLogout(){
      firebase.auth().signOut().then(()=>{
        this.$router.push('/login');
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
