<template>
  <nav>
    <div class="nav-wrapper">
      <router-link class="brand-logo left" :to="{path:'/'}">ekart</router-link>
      <ul class="right">
        <li v-if="isLoggedIn">
          <router-link class="btn blue" :to="{path:'/dashbar'}">Dashboard</router-link>
        </li>
        <li v-if="!isLoggedIn">
          <router-link class="btn blue" :to="{path:'/login'}">Login</router-link>
        </li>
        <li v-if="!isLoggedIn">
          <router-link class="btn blue" :to="{path:'/register'}">Register</router-link>
        </li>
        <li v-if="isLoggedIn">
          <button @click="userLogout" class="btn blue">Logout</button>
        </li>
      </ul>
      <form>
        <div class="input-field right">
          <input @input="Search" id="search" type="search" required v-model="keyword">
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
</template>

<script>
import axios from "axios";
import firebase from "firebase";

export default {
  data() {
    return {
      keyword: "",
      items:[],
      
      
    };
  },
  computed:{
    isLoggedIn() {
      return this.$store.state.isLoggedIn;
    },
    Search(){
      return this.items.filter((item)=>{
        return item.title.toLowerCase().indexOf(keyword.toLowerCase()) !== -1;
      })
    }
    

  },
  created() {
    if (firebase.auth().currentUser) {
      this.$store.state.isLoggedIn = true;
      //this.currentUser = firebase.auth().currentUser.email;
    }
        axios
      .get("https://ekart-4c0aa.firebaseio.com/0/data.json")
      .then(response => {
            
            this.items=response.data;
            console.log(this.items);
        this.$store.commit("setInventory", response.data);
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    // search() {
    //   //this.$emit('search',this.keyword)
    //   axios
    //     .get("https://ekart-4c0aa.firebaseio.com/0/data.json"keyword)
    //     .then(response => {
    //       this.$store.commit("setInventory", response.data);
    //     });
    // },
    userLogout() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.go({ path: this.$router.path });
          //this.$router.push('/login');
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
