<template>
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input @input="search" id="search" type="search" required v-model="keyword">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <router-link class="navbar-brand" :to="{path:'/'}">newKart</router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input
          @input="search"
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          v-model="keyword"
        >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</template>

<script>
import axios from 'axios'
export default {
  data()
  {
    return{
      keyword:''
    }
  },
  methods:{
    search(){
      //this.$emit('search',this.keyword)
    axios
    .get('http://localhost:3000/search/'+this.keyword)
    .then(response => {
      this.$store.commit('setInventory',response.data)})
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
