<template>
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="login card-panel grey lighten-4 black-text center">
          <h3>Register</h3>
          <form @submit.prevent="userRegister">
            <div class="input-field">
              <i class="material-icons prefix">email</i>
              <input type="email" id="email" v-model="email">
              <label for="email">Email Address</label>
            </div>
            <div class="input-field">
              <i class="material-icons prefix">lock</i>
              <input type="password" id="password" v-model="password">
              <label for="password">Password</label>
            </div>
             <button
              type="submit"
              class="btn btn-large btn-extended grey lighten-4 black-text"
            >Register</button>
            <!-- <button
              @click="userRegister"
              class="btn btn-large btn-extended grey lighten-4 black-text"
            >Register</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    async userRegister() {
      await this.$store.dispatch('Registration',{
        email:this.email,
        password:this.password,
      });
      this.$router.push("/login");
      //this.$router.go({path:this.$router.path});
    }
  }
};
</script>

<style>
</style>
